.arrow-btn {
  display: flex;
  background-color: white;
  border: 1px solid black;
  align-items: center;
  border-radius: 3rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  gap: 2rem;
}

.arrow-btn span {
  color: var(--color-light-black);
  font-size: 15px;
  font-weight: 600;
}

.arrow-btn div {
  display: flex;
  justify-items: center;
  background-color: white;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 100%;
}

.arrow-btn:hover {
  background-color: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
  transition: all 0.5s ease;
}

.arrow-btn:hover span {
  color: white;
  transition: all 0.5s ease;
}

.arrow-btn:hover div {
  border: 1px solid var(--color-primary-blue);
  transition: all 0.5s ease;
}

.arrow-btn div {
  display: flex;
  justify-items: center;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.arrow-btn div svg {
  position: absolute;
  width: 1rem;
  height: 1rem;
  transition: transform 0.5s ease;
}

.arrow-btn div svg:nth-child(1) {
  transform: translate(-1.5rem, 1.5rem);
}

.arrow-btn:hover div svg:nth-child(1) {
  transform: translate(0, 0);
}

.arrow-btn:hover div svg:nth-child(2) {
  transform: translate(1.5rem, -1.5rem);
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}

@media (min-width: 1786px) {

  .arrow-btn {
    padding: 0.6rem 0.6rem 0.6rem 1.8rem;
  }

  .arrow-btn span {
    font-size: 20px;
  }

  .arrow-btn div {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.8rem;
  }

  .arrow-btn div svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .arrow-btn div svg:nth-child(1) {
    transform: translate(-2rem, 2rem);
  }
  
  .arrow-btn:hover div svg:nth-child(2) {
    transform: translate(2rem, -2rem);
  }
}
