.btn2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 3rem;
  background-color: rgb(255, 255, 255);
  color: #2563eb;
  border: 1.5px solid #2563eb;
  border-radius: 120px;
  margin: auto;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.btn2:hover {
  background-color: #2563eb;
  color: white;
}

.btn2 span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 3rem;
  font-size: small;
  font-weight: 600;
  transition: top 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.primary-text {
  top: 0;
}

.secondary-text {
  top: 2rem;
}

.btn2:hover .primary-text {
  top: -2rem;
}

.btn2:hover .secondary-text {
  top: 0px;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .btn2 {
    height: 3.5rem;
    width: 10rem;
  }

  .btn2 span {
    font-size: medium;
    height: 3.5rem;
    width: 10rem;
  }

  .secondary-text {
    top: 3rem;
  }

  .btn2:hover .primary-text {
    top: -3rem;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}

@media (min-width: 1786px) {
  .btn2 {
    height: 4rem;
    width: 12rem;
  }

  .btn2 span {
    font-size: medium;
    height: 4rem;
    width: 12rem;
  }

  .secondary-text {
    top: 3rem;
  }

  .btn2:hover .primary-text {
    top: -3rem;
  }

  .btn2:hover .primary-text {
    top: -3rem;
  }
}
