.home-aboutus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  gap: 2rem;
  padding: 3rem 1rem 3rem 1rem;
}

.home-aboutus-info {
  width: 100%;
  box-sizing: border-box;
}

.home-aboutus-info h3 {
  text-align: center;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0;
}

.home-aboutus-info h2 p {
  text-align: center;
  font-family: var(--bs-font-unbounded);
  font-size: 2.1rem;
  font-weight: 500;
  margin: 0;
  position: relative;

  transform-origin: 50% 0%;
  opacity: 0;
  transform: translate3d(0px, 49.2404px, -41.3176px) rotateX(-80deg);
}

/* Animation trigger when the class is added */
.home-aboutus-info.animate h2 p {
  animation: rollBack 2s ease-out forwards;
}

.home-aboutus-info p {
  text-align: center;
  font-family: var(--bs-font-sans-serif);
  font-size: 1.1rem;
  font-weight: 400;
}

.home-aboutus-info-wrap {
  display: flex;
  flex-direction: column;
  border-top: 1.5px solid rgba(12, 12, 37, 0.1);
  margin-top: 3rem;
  padding-top: 2rem;
}

.home-aboutus-info-wrap div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  transform: translate(-100px, 0px);
}

.home-aboutus-info-wrap div p {
  text-align: start;
}

/* Animation trigger when the class is added */
.home-aboutus-info.animate .home-aboutus-info-wrap div {
  animation: slideBack 2s ease-out forwards;
}

.home-aboutus-info-wrap div span {
  font-family: var(--bs-font-unbounded);
  font-size: 2.8rem;
}

.home-aboutus-info-wrap div p {
  max-width: 11rem;
}

.home-aboutus-video {
  border-radius: 1rem;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

.home-aboutus-video img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Animation keyframes */
@keyframes rollBack {
  0% {
    transform-origin: 50% 0%;
    transform: translate3d(0px, 49.2404px, -41.3176px) rotateX(-80deg);
    opacity: 0;
  }
  100% {
    transform-origin: 348px 22.225px;
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

@keyframes slideBack {
  0% {
    opacity: 0;
    transform: translate(-100px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@media (min-width: 640px) {
  .home-aboutus {
    padding: 5rem 2rem 5rem 2rem;
  }

  .home-aboutus-info-wrap {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .home-aboutus {
    flex-direction: row;
    padding: 5rem 3rem 5rem 3rem;
  }

  .home-aboutus-info {
    flex: 0 0 58%;
  }

  .home-aboutus-info h3 {
    text-align: start;
  }

  .home-aboutus-info h2 p {
    text-align: start;
    font-size: 2.2rem;
  }

  .home-aboutus-info p {
    text-align: start;
  }

  .home-aboutus-video {
    flex: 0 0 41%;
    height: auto;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
  .home-aboutus {
    padding: 5rem 6rem 5rem 6rem;
  }

  .home-aboutus-info h2 p {
    font-size: 3rem;
  }

  .home-aboutus-info-wrap div {
    gap: 2rem;
  }

  .home-aboutus-info-wrap div span {
    font-size: 2.8rem;
  }
}

@media (min-width: 1786px) {
  .home-aboutus {
    padding: 8rem;
  }

  .home-aboutus-info h3 {
    font-size: 1.5rem;
  }

  .home-aboutus-info h2 p {
    font-size: 3.6rem;
  }

  .home-aboutus-info p {
    font-size: 1.4rem;
  }

  .home-aboutus-info-wrap div span {
    font-size: 3.7rem;
  }

  .home-aboutus-info-wrap div p {
    max-width: 13rem;
  }

  .home-aboutus-info-wrap div p {
    font-size: 1.5rem;
  }

}
