
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');


.abg{
    background-color: white;
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    Font-family: var(Unbounded)
}

.aimage{
    background: url("https://img.freepik.com/premium-photo/dark-black-gray-blurred-gradient-leaf-shadow-background-has-little-abstract-light_532332-1839.jpg?semt=ais_hybrid");
    height: 50%;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    

}

h1{
    color: rgb(255, 255, 255);
    font-size: 95px;
    margin: 0;
}


h2{
    color: rgb(148, 148, 148);
    font-weight: 200;
}


.atitle{
    align-items: left;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 64px 90px 64px 90px;;
    
    
}

span{
    font-weight: 600;
    color: aliceblue;
}